<h3>
  {{ category.category_name }}
</h3>

<ol class="post-list">
  {{#each category.products}}
  <li>
    <article class="post">
      <div class="title">
        <a href="/product/{{id}}" target="_blank">{{product_name}}</a>
        <p class="content"> ${{price}} </p>
        <img src="{{img_url}} width="300" height="400"">
      </div>
    </article>
  </li>
  {{/each}}
</ol>

